footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }

@media (max-width: 576px) {
    .d-flex.flex-wrap {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 100%; 
        margin-bottom: 15px; 
    }
}
